@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:link {
	color: #0000AA;
	text-decoration: none;
}

input:focus {
	background-color: #0000EE;
}

a:hover {
	background-color: #0000EE;
}